In [1]:
import random
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

# Make dataframe with intial test scores for 1000 students

In [2]:
medium_per_skill_1e = [5.85, 5.62, 5.3, 4.28, 3.33]

In [3]:
column_info = []
for skill in range(0, len(medium_per_skill_1e)):
    mu = medium_per_skill_1e[skill]
    sigma = 0.5

    data = np.random.randn(1000) * sigma + mu
    
    column_info.append(data)

In [4]:
data = {'Cultural empathy first': column_info[0],
        'Open-mindedness first': column_info[1],
        'Social initiative first': column_info[2],
        'Emotional stability first': column_info[3],
        'Flexibility first': column_info[4]
        }

#         'Cultural empathy second',
#         'Open-mindedness second',
#         'Social initiative second',
#         'Emotional stability second',
#         'Flexibility second'

In [5]:
InitTests = pd.DataFrame(data)
print(InitTests)

     Cultural empathy first  Open-mindedness first  Social initiative first  \
0                  6.373190               5.911279                 4.940518
1                  5.858898               5.681360                 5.437792
2                  5.742899               5.355306                 5.716681
3                  6.271836               5.927262                 5.229952
4                  5.273293               5.810953                 5.793367
..                      ...                    ...                      ...
995                5.557690               5.493863                 5.227717
996                5.051779               5.332792                 5.619924
997                6.664980               5.593179                 5.545538
998                5.638933               6.250332                 4.666359
999                6.621405               5.519851                 5.387243

     Emotional stability first  Flexibility first
0                     5.045765           2.613379
1                     4.209919           3.871495
2                     4.508414           2.600043
3                     5.228009           3.965329
4                     4.366199           3.686969
..                         ...                ...
995                   3.873615           3.893490
996                   4.317630           2.839430
997                   4.517226           3.275381
998                   3.560165           3.031291
999                   3.462333           3.211652

[1000 rows x 5 columns]

# Dataframe for second test

In [6]:
actions = ['CCCC', 'PCSA', 'Blogging', 'Language courses', 'International Classroom', 'International (guest) lecturers', 'IVC', 'Extra-curricular Courses', 'IE']

# Make dataframe of personal information

In [7]:
genders = [random.choice(['Male', 'Female']) for i in range(0, 1000)]

In [8]:
age = [random.randrange(17, 25) for i in range(0, 1000)]

In [9]:
educations = ['VMBO', 'HAVO', 'VWO', 'Gymnasium']

prior_educations = [random.choice(educations) for i in range(0, 1000)]

In [10]:
studies = ['International business' for i in range(0, 1000)]

In [11]:
year_of_study = [0 for i in range(0, 1000)]

In [12]:
nationalities = ['Dutch', 'British', 'German', 'Belgium', 'USA', 'South-African', 'Chinese', 'Japanese', 'Korean']

nationality = [random.choice(nationalities) for i in range(0, 1000)]

In [13]:
occupations = ['Engineer', 'Marine', 'Politician', 'Life coach', 'Gardener', 'Taxi driver', 'Doctor', None]

parent_occupations = [random.choice(occupations) for i in range(0, 1000)]

In [14]:
international_experiences = ['I have backpacked through Australia for half a year', 'I have traveled a lot with my family on vacations', 'I basically have none', 'I went to Germany once', 'My father has been relocated to a lot of different places because of his job. So I have lived in a lot of different countries.']

previous_international_experience = [random.choice(international_experiences) for i in range(0, 1000)]

In [15]:
existing_languages = ['English', 'Dutch', 'German', 'Mandarin', 'Arabic', 'Japanese', 'Korean']

student_languages = []
for i in range(0, 1000):
    if nationality[i] == 'Dutch' or nationality[i] == 'Belgium':
        languages = ['Dutch', 'English']
        if random.randint(0, 100) < 70:
            languages.append(random.choice(existing_languages[2:]))
    
    elif nationality[i] == 'British' or nationality[i] == 'USA':
        languages = ['English']
        if random.randint(0, 100) < 40:
            languages.append(random.choice(existing_languages[1:]))
    
    elif nationality[i] == 'German':
        languages = ['English', 'German']
    
    elif nationality[i] == 'South-African':
        languages = ['English', 'Dutch']
        
    elif nationality[i] == 'Chinese':
        languages = ['English', 'Mandarin']
        
    elif nationality[i] == 'Japanese':
        languages = ['English', 'Japanese']
        
    elif nationality[i] == 'Korean':
        languages = ['English', 'Korean']
        
    student_languages.append(languages)

In [16]:
data = {'Gender': genders,
       'Age': age,
       'Prior education': prior_educations,
       'Course of studies': studies,
       'Year of study': year_of_study,
       'Nationality': nationality,
       'Parent occupation': parent_occupations,
       'Previous international experience': previous_international_experience,
       'Languages': student_languages
       }

In [17]:
personal_attributes = pd.DataFrame(data)
print(personal_attributes.head())

   Gender  Age Prior education       Course of studies  Year of study  \
0  Female   18             VWO  International business              0
1  Female   21             VWO  International business              0
2    Male   17             VWO  International business              0
3    Male   20            HAVO  International business              0
4  Female   19            HAVO  International business              0

     Nationality Parent occupation  \
0         Korean          Engineer
1          Dutch        Life coach
2         Korean        Politician
3  South-African       Taxi driver
4        Belgium            Marine

                   Previous international experience                 Languages
0                             I went to Germany once         [English, Korean]
1  I have traveled a lot with my family on vacations  [Dutch, English, Arabic]
2                             I went to Germany once         [English, Korean]
3                             I went to Germany once          [English, Dutch]
4                             I went to Germany once          [Dutch, English]